/* Home.css */
.home-container {
    display: flex;
  }
  
  .sidebar {
    width: 250px;
    height: 100vh;
    background-color: #333;
    padding-top: 60px; /* Adjust as needed */
    position: fixed;
    left: -250px;
    transition: left 0.3s ease-in-out;
  }
  
  .sidebar.open {
    left: 0;
  }
  
  .content-container {
    flex: 1;
    padding: 20px;
  }
  
  .home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar {
    display: flex;
    align-items: center;
  }
  
  .login-button,
  .signup-button {
    margin-right: 10px;
    /* Add more styling as needed */
  }
    
  .bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
  }
  